{% extends 'base.html.twig' %}

{% block main %}

<form>
    <div class="mb-3">
    <label for="FormControlInput1" class="form-label">Nom</label>
    <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Pierre">
  </div>
    <div class="mb-3">
      <label for="FormControlInput2" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="col-12">
    <button class="btn btn-primary" type="submit">Envoyez</button>
  </div>
</form>


{% endblock %}


