<div class="card-footer text-body-secondary my-5 d-flex flex-wrap border rounded border-dark-subtle m-2">
        <div class="flex-grow-1 m-2">
          <a class="p-2 link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">L'artiste </a>
          <a class="p-2 link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ path('app_galerie') }}">Galerie</a>
          <a class="p-2 link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ path('app.contact') }}">
            Contact
          </a>
        </div>
        <div class:"p-2 m-3">
        <p class="m-0 p-1">©copyright, tous droits réservés</p>
        <a class="p-1 link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="https://fr.freepik.com/vecteurs-libre/fond-encre-alcool-peint-main-paillettes-or_49256435.htm#query=fond%20artistique&position=1&from_view=search&track=ais&uuid=4b41d3b4-2c8a-4306-8001-55f45c26040a">Freepik</a>
        </div>
</div> 