<header>
<nav class="navbar nav-underline navbar-expand-lg my-4">
      <div class="container-fluid">
        <a class="navbar-brand mb-1 fw-bold" style="font-size: 3.5rem" href="{{ path('app_home') }}"><strong>Gautier | Artiste-Peintre</a></strong>
        <button class="navbar-toggler fs-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-lg-0 fw-semibold" style="font-size: 2rem">
            <li class="nav-item">
              <a class="nav-link" href="#">L'artiste </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path( 'app.galerie') }}">Galerie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app.contact') }}">
                Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </header>
